@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Secular One", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @font-face {
    font-family: ProximaNova;
    src: url("/src/fonts/ProximaNovaBold.otf");
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grey {
  color: #9b9ca8;
}

.black {
  color: #10132c;
}

.heading {
  text-align: left;
  font-size: 88px;
  max-width: 980px;
  line-height: 96px;
  font-family: "Secular One", sans-serif;
}

.sub-heading {
  text-align: left;
  font-size: 32px;
  line-height: 40px;
  font-family: "Secular One", sans-serif;
  color: #fff;
}

section > .container {
  padding: 0px 100px;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 56px;
    line-height: 60px;
  }
  .sub-heading {
    font-size: 12px;
    line-height: 14px;
  }
  section > .container {
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 64px;
    line-height: 68px;
  }
  .sub-heading {
    font-size: 18px;
    line-height: 22px;
  }
  section > .container {
    padding: 0px 70px;
  }
}

nav {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1s ease;
  z-index: 2;
  padding: 12px 60px;
}

.grey-back {
  background: linear-gradient(
    180deg,
    rgba(150, 171, 211, 0.2),
    rgba(150, 171, 211, 0)
  );
}

.back-white {
  background-color: #fff;
}

.logo {
  font-family: "ProximaNova", sans-serif;
  color: #e04f4f;
  line-height: 24px;
  font-weight: 700;
}
